@model mvc2.Models.AdminViewModels.AdminViewModel

@{
    ViewData["Title"] = "Admin";
    var pp=ViewData["dataTransfer"];
}
<h2>@ViewData["Title"]</h2>
<p>Admin page</p>


<h3>@ViewData["Message"]</h3>


<p>@pp</p>

