@model RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<div class="container col-lg-6">
    
    <fieldset class="form-control">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h2>@ViewData["Title"]</h2>
            <h4>Create a new account.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email" class="form-control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserName" class="form-control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StudentId" class="form-control-label"></label>
                <input asp-for="StudentId" class="form-control" />
                <span asp-validation-for="StudentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="form-control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPassword" class="form-control-label"></label>
                <input asp-for="ConfirmPassword" class="form-control" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoleKey" class="form-control-label"></label>
                <input asp-for="RoleKey" class="form-control" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </fieldset>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
