@model FinalProject.Models.CourseViewModels.CourseModel
@using Microsoft.AspNetCore.Identity
@using FinalProject.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@{
    ViewData["Title"] = "Contact";
}
<style>
    ul:empty {
        display: none;
    }
</style>

<div class ="card-header">
    <h5>Live Chat</h5>
</div>


<div id="messageinput" class="container-fluid">
    <div class="container-fluid bg-muted" style="height:400px; overflow-y:scroll; border-radius:10px ">
        <br>
        <ul id="liveHelp" class="alert alert-dark list-unstyled" ></ul>
    </div>
    
    
    <br>
    @if (SignInManager.IsSignedIn(User))
    {
        <div id="nameinput" hidden>Username: <input type="text" id="username" value="@UserManager.GetUserName(User)"/></div>
    }
    else
    {
        <div id="nameinput">Username: <input type="text" id="username" value=""/></div>
    
    }
<p>
    <input type="textarea" id="message" class="form-control " aria-label="With textarea" style="width:700px; display:inline;"/> 
    <input type="button" id="send" value="Send" class="btn btn-outline-primary" style="width:150px; display:inline;"/>
    </p>
</div>




@section scripts {
        <script src="~/js/signalr-client-1.0.0-alpha2-final.js"></script>
        <script src="~/js/contact.js"></script>
        <script>
        addE();
        </script>
        
        }