@{
    ViewData["Title"] = "StudyMates";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<h3>You are not alone</h3>
<p>Welcome to StudyMates, this website design for students in the same class to help each other on academy</p>
<p>We are trying to increase the interaction between students in the same class.</p>
<p>With this site you might doing the following things</p>
<p>If you miss your class and looking for lecture note you can go to the course page and find your course and post a request there, and your classmates can respond you and submit the note with the comment</p>
<p>Set up a event like study meetup for cmpt 123 final at SFU libery in Event page.</p>
<p>Ask homework or assignment question on question page.</p>
<p>Share information and chat with other classmates online live in Message page</p>
