@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>


<h2>Live Help</h2>
Username: <input type="text" id="username" />
Message: <input type="text" id="message" /> 
<input type="button" id="send" value="Send" />
<ul id="liveHelp"></ul>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.0.0.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>
        var liveHelp = $.connection.liveHelpHub;
        liveHelp.client.showMessage = function (username, message) {
            $('#liveHelp').append('<li>' + username + ': ' + message + '</li>');
        };

        $.connection.hub.start().done(function () {
            $('#send').click(function () {
                liveHelp.server.sendMessage($('#username').val(), $('#message').val());
                $('#message').val('');
            });
        });
    </script>
}