

@{
    

    ViewData["Title"] = "Manage";
}

<h2>@ViewData["Title"]</h2>

<h3>@Html.ActionLink("Add Course","AddCourse","Course")</h3>
<h3>@Html.ActionLink("Add Event","AddEvent","Event")</h3>
<h3>@Html.ActionLink("AskQuestion","AskQuestion","Question")</h3>