

@{
    

    ViewData["Title"] = "Manage";
}

<h2>@ViewData["Title"]</h2>

<h3>@Html.ActionLink("Add Course","AddCourse","Course")</h3>
<h3>@Html.ActionLink("Course","CoursePage","Course")</h3>
<h3>@Html.ActionLink("EnrollCourse","EnrollCourse","Course")</h3>