@model FinalProject.Models.QuizViewModels.QuizModel
@using System.Linq
@using FinalProject.Models.CourseViewModels
@{
    ViewData["Title"] = "Add Quiz";
    var quiz= ViewData["quiz"] as List<CourseModel>;
}

<div class="col-md-6 mx-auto">
    <h2>@ViewData["Title"]</h2>
    <h3>@TempData["Message"]</h3>
    <hr />
    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
        <fieldset class="form-group">
            
            <div class="form-group">
                <label class="form-control-label"asp-for="Title"></label>
                <input class="form-control"asp-for="Title" />
            </div>
                        <div class="form-group">
                <label class="form-control-label"asp-for="Description"></label>
                <input class="form-control" asp-for="Description" />
            </div>
            <div class="form-group">
                <label class="form-control-label"asp-for="Date"></label>
                <input class="form-control"asp-for="Date" />
            </div>
            <div class="form-group">
                <label class="form-control-label"asp-for="CourseId"></label>
                <select class="form-control" asp-for="CourseId" 
                    asp-items="@(new SelectList(@quiz,"CourseId","Department"))">
                    <option>Please select one</option>
                </select>
            </div>
            
            <button type="submit" class="mt-2 btn btn-primary btn-block mx-auto mt-5"> Create Quiz</button>
        </fieldset>
    </form>
</div>

