@model FinalProject.Models.QuizViewModels.QuizModel
@using System.Linq
@using FinalProject.Models.CourseViewModels
@{
    ViewData["Title"] = "Quiz Result";
}


<div class="card">
    <div class="card-header">
        <h5>@ViewData["Title"]</h5>
        <h6>@TempData["Message"]</h6>
    </div>
    <div class="card-body">
        <h5>Your result:</h5>
        <h6>
            @TempData["mark"]/@TempData["total"]
        </h6>
    </div>
</div>

