
<h2>@ViewData["Title"]</h2>

<button><a asp-area="" asp-controller="Forum" asp-action="NewPost">New Post</a></button>


<h3>Posts</h3>

<h4>Group Header 1</h4>
Will be further implemented with foreachs when groups are established
<table>
    <tr>
        <th>
           Thread   
        </th>
        <th>
           Author   
        </th>
        <th>
           Last Message Sent
        </th>
    </tr>
    <tr>
        
    </tr>
    <tr>
        <td></td>
    </tr>
</table>

<h4>Group Header 2</h4>
Will be further implemented with foreachs when groups are established
<table>
    <tr>
        <th>
           Thread   
        </th>
        <th>
           Author   
        </th>
        <th>
           Last Message Sent
        </th>
    </tr>
    <tr>
        
    </tr>
    <tr>
        <td></td>
    </tr>
</table>
