@using FinalProject.Views.Manage
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}

<ul class="nav nav-pills flex-column float-left" id="v-pills-tab" role="tablist" style="width:150px; padding-right:10px;">
    <li class="@ManageNavPages.IndexNavClass(ViewContext) nav-item"><a asp-action="Index">Edit Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext) nav-item"><a asp-action="ChangePassword">Change Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a asp-action="ExternalLogins" hidden>External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a asp-action="TwoFactorAuthentication" hidden>Two-factor authentication</a></li>
</ul>

